html {
  display: flex;
  height: 90vh;
}

body {
  background: #20262E;
  margin: 0 auto;
  padding: 20px;
  font-family: Helvetica;
}

input {
  padding: .2em .6em;
  border-radius: .5em;
  height: 2em;
}

input#input_cpf:focus {
  outline: 0;
  border: 2px #0a579f solid!important;
}

input#input_cnpj:focus {
  outline: 0;
  border: 2px #ce2323 solid!important;
}

#rectangle {
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 350px;
  vertical-align: middle;
  margin-top: 35vh;
}

#msg_alert {
  position: relative;
  display: none;
  top: -15px;
  color: #fff;
  background: #a32626;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1px 20px 1px;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 10px auto;
  width: 350px;
  vertical-align: middle;
}

.content#validateCNPJ, .content#validateCPF {
  display: none;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  border: 1px #eee solid;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

p#title {
  margin-bottom: 2em;
}

p.msg_pointer{
  font-size: .5em;
  margin-top: 0px;
  padding-bottom: 1em;
  color: #8a8a8a;
}

button#btn_cpf {
  color: #fff;
  background: #0084ff;
}

button#btn_cpf:hover {
  color: #000!important;
  background-color: #eee!important;
  border: 1px #0084ff solid!important;
}

button#btn_cnpj {
  color: #fff;
  background: #ce2323;
}

button#btn_cnpj:hover {
  color: #000!important;
  background-color: #eee!important;
  border: 1px #ce2323 solid!important;
}

button.btn_verify {
  color: #eee;
  background-color: #19ba00;
}

button.btn_verify:hover {
  color: #000!important;
  background-color: #eee!important;
  border: 1px #19ba00 solid;
}

button.btn_clear {
  border: 1px #787878 solid;
}

button.btn_clear:hover {
  color: #eee;
  background-color: #000;
}

button.btn_back {
  display: none;
  float: left;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: .2em;
}

button.btn_back:hover {
  text-decoration: none;
  font-weight: bold;
}